// common styles.
* {
  padding: 0px;
  margin: 0px 5px;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
  }
}
// watch screen size!
#size {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  font-size: 35px;
  color: red;
}

.container {
  height: 100vh;
}

.header {
  height: 10%;
  // border: 2px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 4vw;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    gap: 20px;
  }
}

.main {
  height: 80%;
  // border: 2px solid blue;

  display: flex;
  flex-direction: row;
  // justify-content: space-around;

  &__image {
    width: 50%;
    background-image: url("images/jurus.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
  &__content {
    width: 50%;

    // with grid
    /* display: grid;
     place-content: center;
    place-items: center;  
  */

    //  with flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-size: 8vw;
    }
    &-name {
      font-size: 3vw;
    }
    &-info,
    &-loc {
      font-size: 2vw;
    }
  }
}

.footer {
  height: 10%;
  // border: 2px solid green;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;

  &__social {
    img {
      width: 3vw;
    }
  }
  &__text {
    font-size: 2vw;
  }
}
span {
  color: red;
}
// time to make responsive

@media (max-width: 650px) {
  .header {
    justify-content: center;
    &__logo {
      font-family: fantasy;
      font-size: 3rem;
      letter-spacing: 5px;
      text-shadow: 5px 3px rgba(183, 100, 100, 0.3);
      text-transform: uppercase;
      margin-top: 1.25rem;
      box-shadow: 3px 3px 15px 1px #372f2f4d;
      border-radius: 5%;
      color: rebeccapurple;
    }

    &__menu {
      display: none;
    }
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image {
      height: 50%;
      border-radius: 100%;
      background-size: 100%;
      background-position: center;
    }

    &__content {
      width: 100%;
      gap: 1vh;

      &-title {
        display: none;
      }
      &-name,
      &-info,
      &-loc {
        font-size: 25px;
      }
    }
  }

  .footer {
    flex-direction: column;
    gap: 1vh;
    margin-top: -5vh;

    &__social {
      img {
        width: 5vh;
      }
    }
    &__text {
      font-size: 20px;
    }
  }
}
