// color variables!
$color-1: #cdb4db; //Mobile
$color-2: #fff1e6; //Tablet
$color-3: #52b788; //Laptop
$color-4: #bee1e6; //Desktop

// media query variables!
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    font-size: 35px;
  }
}

.container {
  border: 3px solid red;
  height: 100vh;

  display: grid;
  place-content: center;
  background-color: #fff;
}

// .text {
// }

#size {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  font-size: 35px;

  color: red;
}

/**
*! media query!
*! syntex: (, and) burger and pizz. burger, pizz and coca-cola.
*? be carefull to write in a correct oder! it's a desktop first approch.
**/

@media (max-width: $desktop) {
  .container {
    background-color: $color-4;
  }
}

@media (max-width: $laptop) {
  .container {
    background-color: $color-3;
  }
}

@media (max-width: $tablet) {
  .container {
    background-color: $color-2;
  }
}

@media (max-width: $mobile) {
  // your styles goes here!
  .container {
    background-color: $color-1;
  }
}
